.navbar {
  background-color: transparent;
  min-height: 80px;
  }

.scrolled-navbar {
    transition: 0.3s ease-in-out; 
  }

.offcanvasitem{
  padding: 50px;
}

.offcanvas{
  background-color: blueviolet;
}

.bkp{
  color: brown;
  
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}

