
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    height: 100%;
    background-color: black;
  }
 *{
    padding: 0;
    margin: 0;
}
.bg{
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.00) 100%), url("Bgs/BUDAK.jpeg");
    background-position: top center; /* Set the background position to top center */
    background-size: cover;
    background-repeat: no-repeat; /* Remove the background repeat */
    text-align: center;
    color: rgb(255, 255, 255);
}
.landingtext{
    padding-top:30vh;
}
.details{
    height: 500px;
    background: #131313;
    color: antiquewhite;
    text-align: center;
}
.textbox{
    padding-top: 50px;
    align-items: center;
}
::-webkit-scrollbar{
    width: 0px;
}